/*-----------*/
/*   COLORS  */
/*-----------*/
/*-----------*/
/* variables */
/*-----------*/
/*------*/
/* FADE */
/*------*/
.fade-in {
  transform: translate(0);
  opacity: 0;
  transition: 0.5s; }

@font-face {
  font-family: 'Shadows';
  src: url("../font/Shadows.ttf"); }

@font-face {
  font-family: 'Bowlby';
  src: url("../font/Bowlby.ttf"); }

@font-face {
  font-family: 'Oswald';
  src: url("../font/Oswald.ttf"); }

@font-face {
  font-family: 'Roboto';
  src: url("../font/Roboto.ttf"); }

@font-face {
  font-family: 'Roboto';
  src: url("../font/Roboto-Bold.ttf");
  font-weight: bold; }

@font-face {
  font-family: 'NotoSans';
  src: url("../font/NotoSans.otf"); }

@font-face {
  font-family: 'NotoSans';
  src: url("../font/NotoSans-Bold.otf");
  font-weight: bold; }

#time-table {
  display: none; }

main {
  display: flex;
  font-family: 'Roboto','NotoSans';
  height: auto; }
  main section {
    width: 50vw; }
  main #input-field {
    padding: 40px 100px;
    font-size: 20px;
    width: 50%; }
    main #input-field h1 {
      font-size: 50px;
      margin-bottom: 25px;
      font-family: 'Bowlby'; }
    main #input-field table {
      font-size: 18px;
      margin-bottom: 50px; }
      main #input-field table tr th {
        width: 30%;
        padding: 4px 10px;
        vertical-align: top;
        border: 1px solid #787878; }
      main #input-field table tr td {
        border: 1px solid #787878;
        width: 70%;
        padding: 4px; }
        main #input-field table tr td select {
          transition: .5s; }
          main #input-field table tr td select:hover {
            background: gainsboro; }
        main #input-field table tr td input {
          padding: 2px;
          margin: 2px 0;
          width: 49.3%;
          border-radius: 4px;
          border: 1px solid #a0a0a0;
          line-height: 17px;
          height: 30px;
          transition: .5s;
          font-size: 16px; }
          main #input-field table tr td input:hover {
            background: #505050;
            color: white; }
        main #input-field table tr td div input {
          width: 100%; }
          main #input-field table tr td div input:hover {
            background: gainsboro;
            color: black; }
    main #input-field #create-timetable {
      text-align: center;
      border: 1px solid #a0a0a0;
      background: #141414;
      font-size: 16px;
      padding: 4px 50px;
      border-radius: 4px;
      color: white;
      margin: 0 auto;
      display: block;
      cursor: pointer;
      transition: 0.5s; }
      main #input-field #create-timetable:hover {
        opacity: 0.8; }
  main #time-table {
    padding: 30px 50px; }
    main #time-table .wrapper {
      height: 100%;
      width: 100%;
      padding: 20px 0;
      position: relative; }
      main #time-table .wrapper #return,
      main #time-table .wrapper #line-toggle,
      main #time-table .wrapper #band-value {
        text-align: center;
        border: 1px solid #a0a0a0;
        font-size: 16px;
        padding: 4px 10px;
        border-radius: 4px;
        color: white;
        margin: 0 auto;
        display: block;
        cursor: pointer;
        position: fixed;
        transition: 0.5s;
        z-index: 10000; }
        main #time-table .wrapper #return:hover,
        main #time-table .wrapper #line-toggle:hover,
        main #time-table .wrapper #band-value:hover {
          opacity: 0.8; }
      main #time-table .wrapper #return {
        left: 16px;
        bottom: 16px;
        background: #141414; }
      main #time-table .wrapper #line-toggle {
        right: calc(50% + 16px);
        bottom: 16px;
        background: red;
        opacity: 0.9; }
      main #time-table .wrapper #band-value {
        top: 16px;
        right: calc(50% + 16px);
        background: white;
        color: #282828;
        opacity: 0.9; }
      main #time-table .wrapper #time-indicate {
        position: absolute;
        width: calc(100% - 200px);
        margin: 0 auto;
        left: 0;
        right: 0;
        display: none;
        z-index: 5000;
        border-bottom: 2px solid red;
        transition: 0.5s; }
        main #time-table .wrapper #time-indicate #time-label {
          height: 2px;
          font-size: 22px;
          display: block;
          width: 100%;
          text-align: right;
          position: relative;
          top: -9px;
          left: 90px; }
      main #time-table .wrapper .invisible {
        opacity: 0; }
      main #time-table .wrapper #band-list {
        padding: 20px 100px; }
        main #time-table .wrapper #band-list ul li {
          text-align: center;
          border-top: 2px solid #c8c8c8;
          transition: 0.5s;
          cursor: pointer;
          position: relative; }
          main #time-table .wrapper #band-list ul li:last-child {
            border-bottom: 2px solid #c8c8c8; }
        main #time-table .wrapper #band-list ul .active {
          background: gainsboro;
          font-weight: bold; }
      main #time-table .wrapper #time-list {
        position: absolute;
        top: 28px;
        left: 40px;
        font-size: 22px; }
  main #clock {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    color: white;
    background: #141414;
    font-family: 'Oswald'; }
    main #clock p {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      margin-left: 16%;
      font-size: 120px;
      letter-spacing: 10px;
      padding: 0 20px; }
