@font-face {
  font-family: 'Shadows';
  src: url('../font/Shadows.ttf');
}

@font-face {
  font-family: 'Bowlby';
  src: url('../font/Bowlby.ttf');
}

@font-face {
  font-family: 'Oswald';
  src: url('../font/Oswald.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'NotoSans';
  src: url('../font/NotoSans.otf');
}

@font-face {
  font-family: 'NotoSans';
  src: url('../font/NotoSans-Bold.otf');
  font-weight: bold;
}
